# Git
.git
.gitignore

# Tests and benchmarks
**/__tests__
**/__benchmarks__

# Development files
*.md
!packages/data/**/*.md
.vscode
.github
.changeset
infra

# Apps we dont need
apps/web
apps/admin

# OS files
.DS_Store
Thumbs.db
